body {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: none;
  color: #FF6700;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.w {
  width: 17.5rem;
  margin: 0 auto;
}
.scroll-y {
  overflow-y: scroll;
  overflow-x: hidden;
}
header .line {
  height: 0.1875rem;
  background-color: #226afc;
}
header .logo h1 {
  margin: 5px 0;
  font-weight: normal;
}
header .logo h1 a {
  float: left;
  height: 1.25rem;
  width: 1.25rem;
  margin-left: 1.5rem;
  background: transparent url(../images/logo.png) no-repeat;
  background-size: 1.25rem;
  font-size: 0;
}
header .logo h1 span {
  float: left;
  margin-left: 0.75rem;
  line-height: 1.25rem;
  font-size: 0.35rem;
  color: #333;
}
header .logo h1 .link {
  cursor: pointer;
}
nav {
  width: 100%;
  height: 0.875rem;
  background-color: #226afc;
}
nav .items {
  display: flex;
  float: left;
  width: 13.5rem;
}
nav .items .item {
  position: relative;
  flex: 1;
  line-height: 0.875rem;
  font-size: 0.225rem;
  text-align: center;
  color: #333;
  cursor: pointer;
}
nav .items .item .pos-view,
nav .items .item .rate-view,
nav .items .item .aroundMe-view {
  position: absolute;
  display: none;
  z-index: 2;
}
nav .items .item .pos-view li,
nav .items .item .rate-view li,
nav .items .item .aroundMe-view li {
  width: 2.25rem;
  height: 0.5rem;
  background-color: #fff;
  line-height: 0.5rem;
  color: #000;
}
nav .items .current {
  background-color: #F1EDED;
}
nav .items .active {
  background-color: #004aff !important;
}
nav .login {
  float: right;
  width: 4rem;
  line-height: 0.875rem;
  font-size: 0.175rem;
  text-align: center;
  color: #333;
}
main {
  height: 11.25rem;
  background: transparent url(../images/main-bg.png) no-repeat;
  background-size: 24rem 11.25rem;
}
main .position div[class^="pos_"] {
  display: none;
  width: 17.5rem;
  height: 11.25rem;
}
main .rates div[class^="rate_"] {
  display: none;
  width: 17.5rem;
  height: 11.25rem;
}
main .around div[class^="around_"] {
  display: none;
  width: 17.5rem;
  height: 11.25rem;
}
main .index,
main .upload,
main .around,
main .query {
  display: none;
  width: 17.5rem;
  height: 11.25rem;
}
main .index {
  display: block;
}
main .index .index_bg {
  height: 6rem;
  width: 100%;
  padding-top: 0.25rem;
}
main .index .index_bg img {
  width: 17.5rem;
  height: 5.625rem;
  vertical-align: middle;
}
main .index .postgraduate_info h4 {
  height: 0.6rem;
  margin: 0;
  line-height: 0.6rem;
  font-size: 0.225rem;
}
main .index .postgraduate_info .h4_line {
  height: 0.125rem;
  background-color: #3d7eff;
}
main .index .postgraduate_info .postgraduate_info_box {
  display: flex;
  width: 17.5rem;
  padding: 0.25rem 0.125rem 0 0.125rem;
}
main .index .postgraduate_info .postgraduate_info_box .postgraduate_info_img {
  flex: 3;
  position: relative;
}
main .index .postgraduate_info .postgraduate_info_box .postgraduate_info_img img {
  position: absolute;
  left: 50%;
  height: 4.125rem;
  vertical-align: middle;
  transform: translateX(-50%);
}
main .index .postgraduate_info .postgraduate_info_box .postgraduate_info_trend {
  flex: 6;
}
main .index .postgraduate_info .postgraduate_info_box .postgraduate_info_trend .trend_list li {
  width: 7.5rem;
  height: 0.55rem;
  padding-left: 0.2rem;
  line-height: 0.55rem;
  font-size: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .index .postgraduate_info .postgraduate_info_box .postgraduate_info_trend .trend_list li a {
  position: relative;
}
main .index .postgraduate_info .postgraduate_info_box .postgraduate_info_trend .trend_list li a::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -0.2rem;
  width: 0.15rem;
  height: 0.15rem;
  background-color: #ccc;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
}
main .index .postgraduate_info .postgraduate_info_box .postgraduate_info_people {
  flex: 5;
}
main .index .postgraduate_info .postgraduate_info_box .postgraduate_info_people .people_list li {
  width: 6.25rem;
  height: 0.55rem;
  padding-left: 0.2rem;
  line-height: 0.55rem;
  font-size: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .index .postgraduate_info .postgraduate_info_box .postgraduate_info_people .people_list li a {
  position: relative;
}
main .index .postgraduate_info .postgraduate_info_box .postgraduate_info_people .people_list li a::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -0.2rem;
  width: 0.15rem;
  height: 0.15rem;
  background-color: #ccc;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
}
main .index .postgraduate_info .postgraduate_info_box h5 a {
  float: right;
  padding-right: 0.25rem;
  color: #bcafaf;
}
main .index .postgraduate_info .postgraduate_info_box h5 a:hover {
  color: #FF6700;
}
main .upload .container {
  padding-top: 0.75rem;
}
main .upload .container .progress {
  margin-top: 0.25rem;
  border: 1px solid #333;
  border-radius: 0.125rem;
}
main .query .queryInp {
  width: 14rem;
  height: 0.875rem;
  margin: 0 auto;
  padding: 0.25rem 0;
}
main .query .queryInp .query_name {
  width: 9.1rem;
  height: 0.375rem;
  line-height: 0.375rem;
  vertical-align: middle;
}
main .query .queryInp #query_btn {
  width: 2.1rem;
  height: 0.375rem;
  line-height: 0.375rem;
  text-align: center;
  vertical-align: middle;
}
main .query table {
  width: 14rem;
  margin: 0 auto;
}
main .query table th,
main .query table td {
  width: 2.5rem;
  height: 0.625rem;
  line-height: 0.625rem;
}
main .around .aroundBox_dom,
main .around .aroundBox_class {
  width: 14rem;
  height: 10.125rem;
  margin: 0 auto;
  padding: 0.25rem 0;
}
main .around table {
  width: 14rem;
  margin: 0 auto;
}
main .around table th {
  width: 2.5rem;
  height: 0.625rem;
  line-height: 0.625rem;
  text-align: center;
}
main .around table td {
  width: 2.5rem;
  height: 25px;
  line-height: 25px;
  text-align: center;
}
main .around table tbody tr:nth-child(2n+1) {
  background-color: rgba(165, 252, 184, 0.7);
}
main .otherLogin {
  width: 14rem;
  height: 70px;
}
main .otherLogin p {
  padding: 0.625rem 0;
  text-align: center;
  font-size: 20px;
}
main .otherLogin p a {
  color: #004aff;
}
main .otherLogin p a:hover {
  color: #FF6700;
}
footer p {
  text-align: center;
  color: #333;
}
/* 约束屏幕尺寸 */
@media screen and (max-width: 1024px) {
  html {
    font-size: 42px !important;
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 80px !important;
  }
}
