<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录-大学生考研大数据管理与分析平台</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/login.css">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/flexible.js"></script>
</head>

<body class="clearfix">
    <main class="login-con">
        <div class="login-img">
            <img src="./images/login-left.jpg" alt="考研位置可视化平台" title="考研位置可视化平台">
        </div>
        <div class="login">
            <h5>数据改变教育 教育引领未来</h5>
            <form class="login-form">
                <div class="account">
                    <input type="text" maxlength="12" placeholder=" 请输入账号" name="username" autofocus id="username">
                </div>
                <div class="password">
                    <input type="password" maxlength="16" placeholder=" 请输入密码" name="password" id="password">
                </div>
                <div class="memory">
                    <label>
                        <input type="checkbox" name="memory" id="memory"><span> 记住我</span>
                    </label>
                    <a href="javascript:;">忘记密码？</a>
                </div>
                <div class="loginin">
                    <input type="button" value="登录" id="login">
                </div>
            </form>
        </div>
    </main>
    <footer>
        重庆邮电大学先进制造工程学院
    </footer>
    <script src="./js/login.js"></script>
</body>

</html>